<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <br><br><br><br>
    <footer class="page-footer font-small text-white" style="background-color:#2E2E2E; position: fixed; bottom: 0; width: 100%;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright: 
            <a href="#">MyFirstProject.com</a>            
        </div>
        <!-- Copyright -->
      
      </footer>
</body>
</html>