<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <div class="container-fluid body-cero">

        <nav class="navbar navbar-expand-lg menu bg-color-azul-1">
            <div class="logo">
                <a href="index.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <form class="form-inline col-md-8">
                    <div class="input-group menu-buscar" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"
                                    aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                            aria-describedby="basic-addon1">
                    </div>
                </form>
                <ul class="navbar-nav col-md-4">
                    <li class="nav-item">
                        <a class="nav-link text-color-base" href="#"><i class="fa fa-user-circle"
                                aria-hidden="true"></i><b> Username</b></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-color-base" href="#"><i class="fa fa-shopping-cart"
                                aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn bg-color-base text-white" href="#" aria-hidden="true">CERRAR SESIÓN</a>
                    </li>
                </ul>

            </div>
        </nav>

        <nav class="navbar navbar-expand-lg bg-color-azul-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav col-md-12 text-center">
                    <a class="nav-item nav-link active menu-item" href="ropa.html">ROPA <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link menu-item" href="zapatos.html">ZAPATOS</a>
                    <a class="nav-item nav-link menu-item" href="bolsas.html">BOLSAS</a>
                    <a class="nav-item nav-link menu-item menu-item-active" href="accesorios.html">ACCESORIOS</a>
                    <a class="nav-item nav-link menu-item" href="perfumes.html">PERFUMES</a>
                </div>
            </div>
        </nav>

        <div class="d-flex">
            <div class="col-md-3 pl-lg-5">
                <div class="row pt-lg-5 pb-lg-5">
                    <div class="btn btn-genero-active col-md-5 ml-1">
                        <a href="">MUJER</a>
                    </div>
                    <div class="btn btn-genero col-md-5 ml-1">
                        <a href="">HOMBRE</a>
                    </div>
                </div>
                <div class="pt-lg-4">
                    <h3 class="text-type-1">CATEGORIA</h3>
                    <form action="#" method="get">
                        <div class="form-check">
                            <input class="" type="checkbox" value="" id="checkGrandes">
                            <label class="text-check" for="checkGrandes">
                                Grandes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="" type="checkbox" value="" id="checkMedianas">
                            <label class="text-check" for="checkMedianas">
                                Medianas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="" type="checkbox" value="" id="checkChicos">
                            <label class="text-check" for="checkChicos">
                                Chicos
                            </label>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card m-1">
                            <div class="box-product">
                                <img class="card-img-top img-product" src="img/productos/accesorios/p1.png" alt="Card image">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Producto 1</h4>
                                <p class="card-text">$100,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card m-1">
                            <div class="box-product">
                                <img class="card-img-top img-product" src="img/productos/accesorios/p2.png" alt="Card image">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Producto 2</h4>
                                <p class="card-text">$200,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card m-1">
                            <div class="box-product">
                                <img class="card-img-top img-product" src="img/productos/accesorios/p3.png" alt="Card image">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Producto 3</h4>
                                <p class="card-text">$300,000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card m-1">
                            <div class="box-product">
                                <img class="card-img-top img-product" src="img/productos/accesorios/p4.png" alt="Card image">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Producto 4</h4>
                                <p class="card-text">$100,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card m-1">
                            <div class="box-product">
                                <img class="card-img-top img-product" src="img/productos/accesorios/p5.png" alt="Card image">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Producto 5</h4>
                                <p class="card-text">$200,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card m-1">
                            <div class="box-product">
                                <img class="card-img-top img-product" src="img/productos/accesorios/p6.png" alt="Card image">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Producto 6</h4>
                                <p class="card-text">$300,000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 text-center pt-1">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Ordenar por
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu text-center" role="menu">
                        <li><a class="text-dark" href="#">Por precio</a></li>
                        <li><a class="text-dark" href="#">Por nombre</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <br>
    </div>
    <!-- Footer -->
    <footer class="bg-color-footer">
        <div class="p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4 row">
                <div class="col-md-2">
                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-google"></i></a>
                </div>
                <div class="col-md-7 text-center pt-3">
                    <a href="#">HELP</a>
                    <a href="#">HOW IT WORKS</a>
                    <a href="#">PRIVACY</a>
                    <a href="#">TERMS</a>
                    <a href="#">JOBS</a>
                    <a href="#">CONTACT</a>
                    <a href="#">PRODUCT</a>
                    <a href="#">SUGGESTION</a>
                    <a href="#">PRESS</a>
                    <a href="#">ACCESIBILITY</a>
                    <a href="#">STATEMENT</a>
                </div>
                <div class="col-md-3">
                    <img src="img/desarrollado-por.png" alt="" width="300">
                </div>
            </section>
        </div>
    </footer>
    </div>

</body>

</html>