<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <%- include('includes/header.ejs') %>
        <div class="section">
            <div class="container">
            <div class="h4 font-weight-bold text-center py-3 name-form">PRODUCTOS POPULARES</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card m-1">
                        <div class="box-product">
                            <img class="card-img-top img-product" src="img/productos/bolsas/p1.png" alt="Card image">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card m-1">
                        <div class="box-product">
                            <img class="card-img-top img-product" src="img/productos/bolsas/p2.png" alt="Card image">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card m-1">
                        <div class="box-product">
                            <img class="card-img-top img-product" src="img/productos/zapatos/p1.png" alt="Card image">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card m-1">
                        <div class="box-product">
                            <img class="card-img-top img-product" src="img/productos/zapatos/p4.png" alt="Card image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        </div>
        <%- include('includes/footer.ejs') %>
</body>

</html>