<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <title>Document</title>

    
</head>

<body>
    <%- include('includes/header.ejs') %>

    <div class="section">
        <div class="container">
        <div class="h4 font-weight-bold text-center py-3 name-form">PRODUCTOS POPULARES</div>
        <div class="row">
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="box-product">
                        <img class="card-img-top img-product" src="img/productos/bolsas/p1.png" alt="Card image">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="box-product">
                        <img class="card-img-top img-product" src="img/productos/bolsas/p2.png" alt="Card image">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="box-product">
                        <img class="card-img-top img-product" src="img/productos/zapatos/p1.png" alt="Card image">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-1">
                    <div class="box-product">
                        <img class="card-img-top img-product" src="img/productos/zapatos/p4.png" alt="Card image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    </div>
    <%- include('includes/footer.ejs') %>
</body>

</html>